* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {

    min-width: 600px;
}

#banner {

    overflow: hidden;
}

#banner img {
    height: auto;
    width: 100%;
    display: block;
    object-fit: contain;

}

#container {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 3rem;
}

header {
    flex: 1;
    background: linear-gradient(to bottom, #fef3c7 0%,
    #fed7aa 50%,
    #fecaca 100%);
    color: black;
    padding: 2rem;
    font-size: 2rem;
    border-radius: .5rem;
}

header li {
    list-style: none;
    margin-bottom: 2rem;

}

main {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#intro h1 {
    text-decoration: underline;
}

#intro h1,
#intro p {
    margin-bottom: 1rem;
}

#intro p {
    font-size: 1.5rem;
}

.card {
    width: 35rem;
    height: 40rem;
    border: 3px solid gold;
    border-radius: 1rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-top {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-top img {
    display: block;
    border-radius: 5px;
    width: 30rem;
}

.card:hover {
    background: rgba(255, 253, 208, 0.5);
    transform: scale(1.1) rotate(2deg);


}

.card-bottom {
    flex: 1;
    background: linear-gradient(to right,
    #f1f5f9 0%,
    #e0e7ff 50%,
    #ddd6fe 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;

}

.card-bottom a {
    text-decoration: none;
    color: #fff;
}

.card-bottom button {
    width: 60%;
    align-self: center;
    background-color: #7c3aed;
    padding: .5rem;
    border: none;
}



@media (max-width: 599px) {

    #container {
        flex-direction: column;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    nav li {
        width: 33%;
        text-align: center;
    }

}