
* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body {
    margin: 40px;
    padding: 15px;
    background: linear-gradient(rgb(43, 116, 226), grey);
}

header {
    display: flex;
    border: 1px solid;
    background-image: url("image_proj/coaster-passion.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 350px;
    align-items: flex-end;
    text-align: center;
    box-shadow: 10px 10px 10px;
}

h1 {
    border: 1px solid;
    text-align: center;
    box-shadow: 10px 10px 10px;
}


.article1,
.article2,
.article3,
.article4 {
    border: 1px solid;
    padding: 15px;
    background: #f8f8f8;
    border-radius: 5px;
    line-height: 1.5;
    box-shadow: 10px 10px 10px;
}


.cols {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}


.leftCol {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
}


.rightCol {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav{
    display: flex;
    border: solid 1px;
    height: 250px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}
.nav a{
    border: 1px solid;
    width: 150px;
    height: 10px;
    padding: 80px 10px 80px 10px;
    font-size: 25px;
    text-decoration: none;
    color: aliceblue;
    box-shadow: 10px 10px 10px black;
}

#bois{
    background-image: url(image_proj/coasterbois.jpg);
    background-size: cover;
    height: 100px;
}
