* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 15px;
    background-color: grey;
    background-image: url(image_proj/fondbody1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed ;
}

h1{
    color: #D8B56A;
    text-shadow: 15px 5px 5px black;
}



header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.349);
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #E8DCC3;
}

header a{
    color: #8BBF8A;
}
header a:hover{
    color: #7cda74;
}

figcaption{
    color: #F3E9D6;
    padding: 15px;
    text-shadow: 15px 5px 5px black;
}



#cols1 {
    display: flex;
    gap: 20px;
}



#leftCol1 {
    flex: 2;
}

#leftCol1 img {
    max-width: 700px;
    /*width: 100%;*/
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.507);
}


#rightCol1 {
    flex: 1;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 15px;
    color: #E9DFC8;
    text-shadow: 15px 5px 5px black;
    padding: 25px;
}

#rightCol1 figure img {
    max-width: 650px;
    display: flex;
    align-items: flex-end;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.507);
}


#article3 {
    display: flex;
    flex-direction: row;
    margin: 15px;
    flex: 2;
    align-items: center;
    height: 250px;
    gap: 30px;
    padding: 25px;
    color: #E9DFC8;
    text-shadow: 15px 5px 5px black;
    text-align: center;
}

.img{
    width: 550px;
}

#lowerImg {
    display: flex;
    flex-direction: row;
}

#lowerImg img{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.507); 
    min-width: 600px;
    width: 100%;
}

#bankHill{
    width: 650px;
}

footer {
    width: 100%;                    
    background-color: black;
    padding: 10px 0;                
    display: flex;
    justify-content: center;
    margin-top: 20px;       
}


footer nav {
    width: 100%;                   
}


footer nav ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around; 
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}


footer nav ul li {
    color: green;
}

#mathieu{
    color: white;
}

footer nav ul li a {
    color: #8BBF8A;
    text-decoration: none;
    font-weight: bold;
}

footer nav ul li a:hover {
    color: #7cda74;
}






