* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 15px;
    background-color: grey;
    background-image: url(image_proj/fondbody1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed ;
}

h1{
    color: #D8B56A;
}



header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.349);
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #E8DCC3;
}

header a{
    color: #8BBF8A;
}
header a:hover{
    color: #7cda74;
}

figcaption{
    color: #F3E9D6;
    padding: 15px;
}



#cols1 {
    display: flex;
    gap: 20px;
}



#leftCol1 {
    flex: 2;
}

#leftCol1 img {
    max-width: 450px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.507);
}


#rightCol1 {
    flex: 1;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 15px;
    color: #E9DFC8;
    text-shadow: 15px 5px 5px black;
}

#rightCol1 figure img {
    max-width: 550px;
    display: flex;
    align-items: flex-end;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.507);
}


#article3 {
    display: flex;
    flex-direction: row;
    margin: 15px;
    flex: 1;
    justify-content:space-between;
    align-items: center;
    height: 250px;
    gap: 15px;
    padding: 15px;
    color: #E9DFC8;
    text-shadow: 15px 5px 5px black;
}

.img{
    width: 550px;
}

#lowerImg {
    display: flex;
    flex-direction: row;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.507);
}

#bankHill{
    width: 735px;
}






