* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 15px;
}



header {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



#cols1 {
    display: flex;
    gap: 20px;
}



#leftCol1 {
    flex: 2;
}

#leftCol1 img {
    max-width: 450px;
    margin-bottom: 20px;
}


#rightCol1 {
    flex: 4;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 15px;
}

#rightCol1 figure img {
    max-width: 550px;
    display: flex;
    align-items: flex-end;
}


#article3 {
    display: flex;
    flex-direction: row;
    margin: 15px;
    flex: 1;
    justify-content:space-between;
    align-items: center;
    border: 1px solid;
    height: 250px;
    gap: 15px;
    padding: 15px;
}

.img{
    width: 550px;
}

#lowerImg {
    display: flex;
    flex-direction: row;
}






