* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 15px;
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}