* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    width: auto;
    margin: 50px;
    padding: 15px;
}

header{
    border: 1px solid;
    background-image: url(image_proj/coaster-passion.png);
    background-size: contain;
    background-repeat: no-repeat;
}

header img{
    width: 400px;
}