body
{
    background: rgb(246, 236, 216);
    text-align: center;
    font-size: 150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header 
{
    display: flex;
    flex-direction: column;
    background: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(8, 88, 70);
    border-radius: 15px;
    text-align: center;
    margin: 10px;
}

p
{
    text-align: center;
}

nav
{
    padding: 5px;
    padding-bottom: 10px;
}

#carte
{
    border: solid ;
    border-radius: 40px;
    height: 300px;
    margin: 15px;
}

input
{
    font-size: 125%;
}

textarea
{
    font-size: 142%;
}

#carte:hover
{
    scale: 2.0;
}

.presentation
{
    text-align: center;
    align-content: center;

    img
    {
        height: 400px;
        margin: 20px;
        border-radius: 40px;
    }
}

input
{

    background: whitesmoke;
}

textarea
{
    background: whitesmoke;
}

.btn 
{
    margin: 5px;
    padding: 5px;
    width: 160px;
    background: rgb(219, 174, 91);
    border: none;
    border-radius: 15px;
    color: rgb(8, 88, 70);
    font-size: 100%;
    font-weight: bold;
}

.btn:hover
{
    background: rgba(219,175,92,0.5);
    transform: scale(1.25);
}

footer
{
    img 
    {
        border-radius: 25px;
        height: 300px;
        margin-bottom: 20px;
    }

}

#col
{
    border-radius: 25px 0px 0px 25px;
}

#symbole
{
    
}