body {
    margin: 0;
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    height: 100vh;
}

.colonnegauche{
    background-color: rgb(212, 123, 123);
    padding: 20%;
    overflow: hidden;
}
.colonnedroite{
    background-color: rgb(255, 249, 249);
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
    border: solid;
    border-top: 0;
    border-bottom: 0;
    border-left: 1px;
    border-right: 1px;
    overflow-x: auto;
    scrollbar-width: none;
    }