body {
    margin: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    height: 100vh;
}


.colonnegauche {
    background-color: rgb(212, 123, 123);
    padding: 20%;
    overflow: hidden;
}
.bio-box {
    background-color: #f8cdd0; 
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    color: #333;
}

.bio-box h1 {
    margin-top: 0;
}

.bio-box p {
    font-size: 1rem;
    line-height: 1.5;
}



.colonnedroite {
    background-color: rgb(255, 249, 249);
    padding: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    overflow-y: auto;
    scrollbar-width: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}


.cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;      
    gap: 30px;
}


.card {
    width: 360px;             
    text-align: center;
}

.card img {
    width: 360px;
    height: 200px;
    border: 8px solid white;
    outline: 4px solid pink;
    border-radius: 8px;
    transition: 0.3s;
}

.card img:hover {
    transform: scale(1.05);
}

.colonnevide {
    background-image: url("images/background.jpg");
    background-size: cover;
}
