/* reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
}

body {
    background: url(./assets/backgroung.jpg);
    font-family: "Vidaloka", Arial, Helvetica, sans-serif;
    max-width: 600px;
    min-width: 400px;
    margin: auto;
}

header {
    height: auto;
    border: 1px solid black;
    background-color: rgb(229, 213, 240);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    #logo {
        width: 10rem;
        border: 2px solid white;
        box-shadow: .7rem .5rem .5rem rgba(72, 18, 67, .5);

    }

    nav {
        gap: 1rem;
        display: flex;

        a {
            display: inline-block;
            text-decoration: none;
        }

        button {
            border: 2px solid rgb(72, 18, 67);
            box-shadow: .7rem .5rem .5rem rgba(72, 18, 67, .5);
            padding: .5rem;
            border-radius: .5rem;
            background-color: whitesmoke;
            color: black;
            gap: 1rem;
            font-family: "Bungee Spice", sans-serif;
            font-size: .7rem;
        }
    }
}

#hero {
    height: 25vh;
    background-color: rgba(160, 192, 187, .5);
    padding: 1rem;

    img {

        height: 80%;
        width: 100%;
    }

    p {
        color: #fff;
        font-size: 1.2rem;
        text-align: center;
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    margin: auto;
    justify-content: space-between;

    #container {
        width: 100%;

        section {
            background-color: #fff;
            padding: 2rem;
            border-radius: 1rem;
            border: 1px solid black;
        }

        h1,
        article,
        h2,
        h3 {
            margin-bottom: 1rem;
        }

        li {
            margin: 1rem 0 1rem 3rem;
        }
    }

    aside {
        width: 100%;
        background-color: #fff;
        padding: 2rem;
        border-radius: 1rem;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        gap: .7rem;

        a {
            text-decoration: none;
        }

    }
}

footer {
    text-align: center;
    color: #fff;
    margin-bottom: 1rem;

    a {
        text-decoration: none;
    }
}

/*******Media queries pour tablette*********/

@media (min-width: 601px) {

    body {
        max-width: 767px;
        min-width: 601px;
    }

    header {
        flex-direction: row;

        #logo {
            width: 12rem;
        }
    }

    #hero {
        height: 30vh;
    }

    main {
  
    flex-direction: row;

    #container {
       width: 70%;
    }

    aside {
        width: 30%;
    }
}
}
/*******Media queries pour desktop*********/

@media (min-width: 768px) {

    body {
        min-width: 768px;
        width: 100vw;
    }

    header {
        width: 100%;
        #logo {
            width: 15rem;
        }
    }

    #hero {
        height: 30vh;
    }

    main {
  
    flex-direction: row;

    #container {
       width: 70%;
    }

    aside {
        width: 30%;
    }
}
}