/* reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
font-size: 62,5%;
}
body{
    background: url(./assets/backgroung.jpg);
}
header{
    height: 20vh;
    border: 1px solid black;
    background-color: rgb(229, 213, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo{
        width: 15rem;
        margin-left: 2.5rem;
        border: 2px solid white;
        box-shadow: .7rem .5rem .5rem  rgba(72, 18, 67, .5);
        
    }
    nav{
        margin-right: 2.5rem;
        gap: 1rem;
        display: flex;

        a{
            display: inline-block;
            text-decoration: none;
           
        }
        button {
            border: 2px solid rgb(72, 18, 67);
            box-shadow: .7rem .5rem .5rem  rgba(72, 18, 67, .5);
            padding: .5rem;
            border-radius: .5rem;
            background-color: whitesmoke;
            color: black;
            gap: 1rem;
            font-family: "Bungee Spice", sans-serif;
        }
    }
}
