/* reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
}

body {
    background: url(./assets/backgroung.jpg);
    font-family: "Vidaloka", Arial, Helvetica, sans-serif;
    min-width: 400px;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

header {
    border: 1px solid black;
    background-color: rgb(229, 213, 240);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

header #logo {
    width: 10rem;
    border: 2px solid white;
    box-shadow: .7rem .5rem .5rem rgba(72, 18, 67, .5);
}

header nav {
    gap: 1rem;
    display: flex;
}

header nav a {
    display: inline-block;
    text-decoration: none;
}

header nav button {
    border: 2px solid rgb(72, 18, 67);
    box-shadow: .7rem .5rem .5rem rgba(72, 18, 67, .5);
    padding: .5rem;
    border-radius: .5rem;
    background-color: whitesmoke;
    color: black;
    gap: 1rem;
    font-family: "Bungee Spice", sans-serif;
    font-size: .7rem;
}

#hero {
    height: 25vh;
    background-color: rgba(160, 192, 187, .5);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero img {
    height: 80%;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
}

#hero p {
    margin-top: .5rem;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

main #container section {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid black;
}

main #container h1,
main #container article,
main #container h2,
main #container h3 {
    margin-bottom: 1rem;
}

main #container li {
    margin: 1rem 0 1rem 3rem;
}

aside {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    width: 100%;

}

aside a {
    text-decoration: none;
    display: block;
}

footer {
    text-align: center;
    color: #fff;
    margin-bottom: 1rem;
}

footer a {
    text-decoration: none;
    color: #fff;
}

/*******Media queries pour tablette*********/

@media (min-width: 601px) {
    header {
        flex-direction: row;
    }

    header #logo {
        width: 12rem;
    }

    #hero {
        height: 30vh;
    }

    main {
        flex-direction: row;
    }

    main #container {
        width: 70%;
    }

    main aside {
        width: 30%;
        align-self: flex-start;
       
    }
}

/*******Media queries pour desktop*********/

/* @media (min-width: 768px) {

    body {
        
        width: 100vw;
    }

    header {
        width: 100vw;
        #logo {
            width: 15rem;
        }
    }

    #hero {
        height: 30vh;
        width: 100vw;
    }

    main {
  
    flex-direction: row;

    #container {
       width: 70%;
    }

    aside {
        width: 30%;
    }
}
}  */