
body {
    font-family:'Times New Roman', Times, serif;
    background-color:rgb(189, 213, 235);
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;

    padding: 10px;
    box-shadow: 0 2px 10px rgba(0,0, 0, 0.1);
    background-color: pink;
    margin-bottom: 2px;

    .menu{
        gap: 10px;
    }
        a{
            text-decoration: none;
            color: black;
        }

}


.container {
    display: flex;

    padding: 3px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    box-shadow: 0 2px 10px rgba(0,0, 0, 0.1);
    background-color: lightblue;


    .bio{
        flex:30;
    }
    
    .imageMerkz{
        flex:35;
    }

    .video{
        display: flex;
        flex-direction: column;
        flex:30;
        ul {
            display: flex;
            flex-direction: column;
            list-style-position: outside;  /* outside = puce à gauche du texte, inside = alignée avec le texte */
            padding-left: 1.5em;           /* espace entre le bord et la puce */
            margin: 0;  
        }
    }
}

.foot{
    display: flex;
    background-color:lightskyblue;
    width: 2370px;
    height: 300px;
    color: white;
    justify-content: center;
    align-items: center;
        #pp{
            font-size: 100px;
        }
}

/* IMAGES */
#imgShrek {
    height:100px;
    width: 150px;
}


#Ronnie{
    height: 630px;
    width: 800px;
}
