
*{
    margin: 0;
    padding: 0;
}
body {
    font-family:'Times New Roman', Times, serif;
    background-color:#121212;
    color: #f1f1f1;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0,0, 0, 0.1);
    background-color: #4a6d7c ;
    margin-bottom: 20px;
    
    .menu{
        align-items: center;
        display: flex;
        gap: 100px;
    }
        a{
            text-decoration: none;
            color: #f1f1f1;
            font-size: 150%;
            font-weight: 400;
        }

}


.container {
    display: flex;
    padding: 3px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    box-shadow: 0 2px 10px rgba(0,0, 0, 0.1);
    background-color: #88b04b;
    margin-bottom: 20px;
    color: #f1f1f1;


    .bio{
        flex:30;
        font-size: 14px;
    }
    
    .imageMerkz{
        flex:35;
    }

    .video{
        display: flex;
        flex-direction: column;
        flex:30;
        ul {
            display: flex;
            flex-direction: column;
            list-style-position: outside;  /* outside = puce à gauche du texte, inside = alignée avec le texte */
            padding-left: 1.5em;           /* espace entre le bord et la puce */
            margin: 0;  
        }
    }
}

.foot{
    display: flex;
    background-color:#333333;
    width: 1890px;
    height: 180px;
    justify-content: center;
    align-items: center;
        #pp{
            font-size: 80px;
        }
}

/* IMAGES */
#imgShrek {
    height:100px;
    width: 150px;
}


#Ronnie{
    height: 620px;
    width: 750px;
}
