
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;

    padding: 10px;
    box-shadow: 0 2px 10px rgba(0,0, 0, 0.1);
    background-color: pink;
    margin-bottom: 5px;

    .menu{
        gap: 10px;
    }
        a{
            text-decoration: none;
            color: black;
        }

}


.container {
    display: flex;

    padding: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;

    .bio{
        flex:20;
        border: 1px solid red;
    }
    
    .imageMerkz{
        flex:35;
        border: 1px solid red;
    }

    .video{
        display: flex;
        flex-direction: column;
        flex:45;
        border: 1px solid red;

        ul {
            display: flex;
            flex-direction: column;
            list-style-position: outside;  /* outside = puce à gauche du texte, inside = alignée avec le texte */
            padding-left: 1.5em;           /* espace entre le bord et la puce */
            margin: 0;  
        }
    }
}


/* IMAGES */
#imgShrek {
    height:100px;
    width: 150px;
}


#Ronnie{
    height: 480px;
    width: 350px;
}
