* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, sans-serif;
}
header {
    display: flex;
    padding: 10px;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0, 0, 0.1);
    background-color: pink;
    margin-bottom: 20px;

    .menu{
        gap: 10px;
    }
        a{
            text-decoration: none;
            color: black;
        }

}
#imgShrek {
    height:100px;
    width: 150px;
}
.container {
    padding: 20px;
    margin-left: 120px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 800px;
    height: 400px;
    justify-content:end;
    gap: 20px;
}
p {
    flex:1;
}