*{
    margin: 0;
    padding: 0;
}
body{
    background-color: beige;
}
nav{
    display: flex;
    background-color:rgb(235, 226, 226);
    justify-content: space-between;
    align-items: center;
    font-size: 160%;
    margin-bottom: 30px;
        a {
            text-decoration: none;
            color: black;
            margin-left: 10px;
        }
}
h1 {
    text-align: center;
}
h2{
    margin-left: 30px;
}
.Presentation {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
    
}
.colonne {
    display: flex;
    flex-direction: column;
    gap: 10px;
        ul{
            li{
                margin-left: 20px;
                margin-bottom: 4px;
            }
        }
}













/* Image */
#imgShrek {
    height:100px;
    width: 150px;
}