* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 800px;
    height: 100vh;
    margin: 0 auto;
    background-image: url("./images/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background: rgba(255, 255, 255, 0.3);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div, h1 {
        padding: 20px;
    }
}

section {
    background: rgba(255, 255, 255, 0.4);
    margin-top: 20px;
    padding: 50px;
    border-radius: 20px;
    p {
        text-align: justify;
        font-size: 1.3rem;
    }
    .div ul {
        list-style: none;
        padding: 10px;
    }
    .div ul ul {
        list-style: disc;
        font-size: 1.2rem;
        text-align: justify;
        padding-left: 20px;
    }

}

section:nth-of-type(3) {
    ul {
        background-color: antiquewhite;
        padding: 15px 30px;
        border: 1px solid red;
        border-radius: 10px;
        font-size: 1.3rem;
    }
}

h1 {
    font-size: 2.5rem;
    text-transform:uppercase;
}


h2 {
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 30px;
}

h3 {
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
}

hr {
    height: 10px;
    background-color: brown;
    border-radius: 20px;
    margin-top: 20px;
}

p {
    padding: 20px;
}

 