* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 800px;
    height: 100vh;
    margin: 0 auto;
    background-image: url("./images/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background: rgba(255, 255, 255, 0.3);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div, h1 {
        padding: 20px;
    }
}

h1 {
    font-size: 2.5rem;
    text-transform:uppercase;
}

 