* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    background-image: url("./images/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    position: sticky;
    top: -85px;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    div, h1 {
        padding: 20px;
    }
}

header > div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: -10px;
    padding-top: 0;
}

header ul {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    li {
        align-content: center;
        text-align: center;
        height: 100%;
        width: 30%;
        &:hover {
            background-color: red;
            cursor: pointer;
            border-radius: 50%;
            transition: 0.8s ease-in-out;
            a {
                color: antiquewhite;
            }
        }
        a {
            background: none;
        }
    }
}

main {
    margin: 30px 0 120px 0;
}

section {
    background: rgba(255, 255, 255, 0.4);
    margin-top: 20px;
    padding: 50px;
    border-radius: 20px;
    p {
        text-align: justify;
        font-size: 1.3rem;
    }
    .div ul {
        list-style: none;
        padding: 10px;
    }
    .div ul ul {
        background-color: antiquewhite;
        border: 1px solid red;
        border-radius: 10px;
        list-style: disc;
        font-size: 1.2rem;
        text-align: justify;
        padding-left: 40px;
    }

}

section:nth-of-type(3) {
    ul {
        background-color: antiquewhite;
        padding: 15px 30px;
        border: 1px solid red;
        border-radius: 10px;
        font-size: 1.3rem;
    }
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    background-color: red;
    color: antiquewhite;
    padding: 0 5px;
}

h1 {
    font-size: 2.5rem;
    text-transform:uppercase;
}


h2 {
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 30px;
}

h3 {
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
}

hr {
    height: 10px;
    background-color: brown;
    border-radius: 20px;
    margin-top: 20px;
}

p {
    padding: 20px;
    background-color: antiquewhite;
    border: 1px solid red;
    border-radius: 10px;
    margin-bottom: 10px;
}

section:nth-of-type(3) p {
    margin-top: 10px;
}

section:nth-of-type(3) ul:nth-of-type(4) {
    margin-bottom: 50px;
}

footer {
    position: fixed;
    bottom: -10px;
    width: 90%;
    border: none;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(211, 31, 49);
    p {
        background-color: rgba(250, 235, 215, 0.8);
        border: none;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

#farina,
#fangio,
#fagioli {
    display: flex;
    gap: 10px;
}


.photo img {
    border: 1px solid red;
    border-radius: 20px;
    width: 15rem;
}

.content {
    height: 100%;
}

.space {
    margin-top: 10px;
}

/*
 * POPUP
 */

.popup_1 {
    display: none;
}

.popup_2 {
    display: none;
}

.popup_3 {
    display: none;
}

.popup_1,
.popup_2,
.popup_3 {
    position: relative;
    top: 15px;
}

.popup-content {
    display: flex;
    justify-content: center;
    max-height: 350px;
    margin-bottom: 30px;
    img {
        max-width: 350px;
        border: 1px solid red;
    }
}

@media screen and (max-width:700px) {
    #farina,
    #fangio,
    #fagioli {
        flex-direction: column;
        align-items: center;
    }
}
 