*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    
    background-color: rgb(235, 208, 175);
}

.main_nav{
    background-color: brown;
    
    
}