* {
    padding: 0 auto;
    box-sizing: border-box;
}

/* Style global */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #0d0d0d;
    color: #eee;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #000;
    box-shadow: 0 0 20px red;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: red;
}

.logo span {
    color: white;
}

nav a {
    color: #ddd;
    margin-left: 25px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover,
nav a.active {
    color: red;
}

/* Content section */
.content {
    margin-top: 90px;
    margin-bottom: 90px;
}

.content h1 {
    padding-left: 5rem;
}

.content select {
    background-color: #000;
    color: rgba(255, 0, 0, 0.7);
    font-size: 1.5rem;
    padding: 5px 10px;
}

/* Hero section */
.hero {
    height: 75vh;
    background-image: url("https://images.unsplash.com/photo-1679865745026-24ca998bee72?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.hero-content {
    max-width: 90%;
}

.hero h1,
.hero p {
    font-size: 50px;
    margin: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 4px 4px 0px rgba(255,0,0,0.43);
    border-radius: 20px;
}

.hero p {
    font-size: 1.5rem;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    padding: 12px 25px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: darkred;
}

/* Cards */
.cards-section {
    padding: 50px;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    padding: 30px;
    background: #111;
    border-left: 4px solid red;
    transition: 0.3s;
}

.card:hover {
    transform: translate(15px, -10px);
    cursor: pointer;
}

/* Grids */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
    place-items: center;
}

.pilot-card,
.team-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 400px;
    max-height: 400px;
    max-width: 250px;
    padding: 20px;
    background: #111;
    border: 1px solid #222;
    transition: 0.3s;
    overflow: hidden;
}

.pilot-card h3,
.team-card h3 {
    text-align: center;
}

.pilot-card img,
.team-card img {
    min-width: 220px;
    min-height: 220px;
    max-height: 220px;
}

.pilot-card:hover,
.team-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    h3 {
        transform: scale(1.5);
        transition: 0.5s ease-in-out;
        color: red;
    }
}

/* Table */
.cal-table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

.cal-table th,
.cal-table td {
    width: 33%;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #333;
    font-size: 1.5rem;
}

.cal-table td img {
    width: 40px;
}

.cal-table th {
    color: rgba(255, 0, 0, 0.7);
}

.cal-table tr:hover {
    background: #202020;
}

.border-l-r {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.y2026 {
    display: none;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    background: #111;
}
