header{
    display: flex;
    flex-direction: row;

    width: 100%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

    h1{
        flex: 80%;
        text-align: center;
    }

    nav {
        flex: 20%;
        text-align: right;
        padding: 20px;
    }
}

body {
    background-color:bisque;
}


.Titre{
        border-radius: 20px;
        text-align: center;
        font-size: 2em;
        
}
