*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 208, 175);
    font-family: Arial, Helvetica, sans-serif;
}
.top{
    display: flex;
    height: 400px;

    .logo{
        flex: 1;

        img{
            width:100%;
            height: 100%;
        }
    }

    .background{
        flex: 4;
        background-image: url(/images/Texturelabs_Grunge_127S.jpg);
        opacity:0.7;

        .transbox{
            display: flex;
            justify-content: space-around;
        }

            .transbox h1{
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                color: rgb(221, 125, 125);
                font-size:1200%;
                font-weight: 700;
            }
        
    }
}

img:hover{
    opacity: 0.5;
}

.main_nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: rgb(151, 62, 62);
    

    ul{ 
        display: flex;
        list-style: none;
        text-transform: uppercase;
        
        height: 100%;
        width:50%;        
        
    }

    li{
        display: flex;
        background-color: rgb(206, 127, 32);
        flex: 1;
        height: 100%;
        justify-content: center;
        
    }
    
    a{
        text-decoration: none;
        color: rgb(182, 172, 163);
        height: 100%;
        flex:1;
        text-align: center;
        padding:1rem;
        
        
    }

    a:hover{
        color: rgb(105, 93, 93);
        background-color: rgb(150, 120, 101);
        font-size: 125%;
    }
    
}

main{
    text-align: left;

    img{
        width: 25%;
        
    }

}