/* Réinitialisation de base */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

/* Styles pour le body et les conteneurs principaux */
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(235, 208, 175);
    font-family: Arial, Helvetica, sans-serif;
}

/* Styles pour la section .top (Logo & titre) */
.top{
    display: flex;
}

.top .logo{
    flex: 1;
}

.top .logo img{
    width: 100%;
    height: 100%;
}

.top .logo img:hover{
    opacity: 0.7;
}

.top .background{
    display: flex;
    flex: 4;
    background-image: url("../images/textures/Texturelabs_Grunge_127S.jpg");
    opacity: 0.7;
}

.top .background .transbox{
    display: flex;
    margin: auto;
}

.top .background .transbox h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    margin: auto;
    color: rgb(104, 95, 95);
    font-size:280%;
    font-weight: 700;
}

/* Styles pour la navigation principale */
.main_nav{
    display: flex;
    order: 3;
    position: sticky;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: aliceblue;
}

.main_nav #nav-list {
    display: flex;
    width: 100%;
    list-style: none;
}

.main_nav #nav-list li {
    width: 100%;
}

/* Styles pour les liens de navigation */
.main_nav #nav-list .nav-item {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(97, 91, 91);
    color: white;
    font-size: 90%;
    text-transform: uppercase;  
    text-decoration: none;
    font-weight: bold;
}

.main_nav #nav-list .nav-item:hover {
    background-color: white;
    color: black;
}

/* Styles pour la balise main */
main{
    width: 100%;
    align-self: center;
    display: flex;
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* Cible les div.item dans la balise main */
main .item{
    display: flex;
}

main .item .caption_item {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-between;
    background-color: antiquewhite;
}

main .item .caption_item h2 {
    text-align: center;
    background-color: rgb(129, 123, 112);
    font-size: 75%;
}

main .item .caption_item p {
    padding: 1%;
    font-size: 75%;
}

main .item .pix_item {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../images/textures/gribouillis.jpg);
    background-size: auto;
}

main .item .pix_item div{
    display: flex;
    flex-direction: column;
}

main .item .pix_item img {
    width: 100%;
}

main .item .pix_item figcaption {
    background-color: rgb(129, 123, 112);
    padding: 10%;
    text-align: center;
    font-size: smaller;
}

/* Styles pour le footer */
footer{
    background-color: rgb(138, 126, 126);;
    text-transform: capitalize;
    font-size: 80% ;
    padding-left: 1%;
    order: 2;
}

/* Media Query pour les grands écrans (tablette et +) */
@media (min-width: 768px) {
    /* Styles pour la navigation dans la media query */
    .top .background .transbox h1 {
        font-size: 1000%;
    }

    .main_nav{
        order: 0;
        /* Correction des valeurs invalides */
        position: relative; 
        bottom: auto; 
    } 
    
    /* Ciblage correct du hover dans la media query */
    .main_nav #nav-list .nav-item:hover{
        font-size: 140%;
    }
    
    /* Styles pour main dans la media query */
    main{
        width: 50%;
    }
}
