*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 208, 175);
    font-family: Arial, Helvetica, sans-serif;
}
.top{
    display: flex;
    height: 400px;
}

.logo{
    flex: 1;
    background-color: aqua;
}

.site_title{
    flex: 4;
    background-color: blue;
}
.main_nav{
    height: 50px;
    background-color: rgb(151, 62, 62);
    text-align: center;
    text-transform: uppercase;

    ul{
        
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        
    }
    
    li{
        
    }
    
    a{
        background-color: bisque;
        text-decoration: none;
        color: rgb(182, 172, 163);

    }

    a:hover{
        color: rgb(231, 213, 213);
        background-color: rgb(150, 120, 101);
    }
    
}

main{
    text-align: left;

    img{
        width: 25%;
        
    }

}