*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(235, 208, 175);
    font-family: Arial, Helvetica, sans-serif;

    .top{
        display: flex;
        height: 400px;

        .logo{
            flex: 1;

            img{
                width: 100%;
                height: 100%;
            }

            img:hover{
                opacity: 0.7;
            }
        }

        .background{
            display: flex;
            flex: 4;
            background-image: url(/images/textures/Texturelabs_Grunge_127S.jpg);
            opacity: 0.7;

            .transbox{
                display: flex;
                margin: auto;
            }

            .transbox h1{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-transform: uppercase;
                margin: auto;
                color: rgb(104, 95, 95);
                font-size:1200%;
                font-weight: 700;
            }
        }
    }

    .main_nav{
        display: flex;
        justify-content: space-between;
        height: 60px;
        width: 100%;
        background-color: rgb(104, 95, 95);
        
        ul{ 
            display: flex;
            list-style: none;
            text-transform: uppercase;
            height: 100%;
            width: 50%;        
        }

        li{
            display: flex;
            flex: 1;
            height: 100%;
            justify-content: center;   
        }
        
        a{
            background-color: rgb(206, 127, 32);
            text-decoration: none;
            font-weight: bold;
            font-size: 125%;
            color: rgb(32, 30, 27);
            height: 100%;
            flex:1;
            text-align: center;
            padding: 1rem;    
        }

        a:hover {
            color: rgb(206, 76, 76);
            background-color: rgb(85, 61, 38);
            font-size: 150%;
        }    
    }

    main{
        width: 60%;
        align-self: center;
        display: flex;
        text-align: left;
        padding-top: 5%;

        .item{
            display: flex;

            .caption_item {
                display: flex;
                flex: 2;
                flex-direction: column;
                justify-content: space-between;
                background-color: antiquewhite;

                h2 {
                    text-align: center;
                    background-color: rgb(129, 123, 112);
                }

                p {
                    padding: 1%;
                    font-size: 150%;
                }
            }
            
            .pix_item {
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: space-between;
                background-image: url(/images/textures/gribouillis.jpg);
                background-size: auto;
                
                div{
                    display: flex;
                    flex-direction: column;

                }
                img {
                    width: 100%;
                }

                figcaption {
                    background-color: rgb(129, 123, 112);
                    padding: 10%;
                    text-align: center;
                }
            }
        }
    }
}