*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(235, 208, 175);
    font-family: Arial, Helvetica, sans-serif;

    .top{
        display: flex;
        
        .logo{
            flex: 1;

            img{
                width: 100%;
                height: 100%;
            }

            img:hover{
                opacity: 0.7;
            }
        }

        .background{
            display: flex;
            flex: 4;
            background-image: url(/images/textures/Texturelabs_Grunge_127S.jpg);
            opacity: 0.7;

            .transbox{
                display: flex;
                margin: auto;
            }

            .transbox h1{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-transform: uppercase;
                margin: auto;
                color: rgb(104, 95, 95);
                font-size:280%;
                font-weight: 700;
            }
        }
    }

    .main_nav{
        display: flex;
        height: 50px;
        width: 100%;
        background-color: aliceblue;

        #nav-list {
            display: flex;
            width: 100%;
            list-style: none;
            background-color: red;

            li {
                width: 100%;
            }
            
            .nav-item {
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;
                align-items: center;
                height: 100%;
                background-color: rgb(97, 91, 91);
                color: white;
                font-size: 90%;
                text-transform: uppercase;  
                text-decoration: none;
                font-weight: bold;
                
            }
            .nav-item:hover {
                background-color: white;
                color: black;
                
            }
        }  
    }   

    main{
        width: 100%;
        align-self: center;
        display: flex;
        text-align: left;
        padding-top: 1%;
        padding-bottom: 1%;

        .item{
            display: flex;

            .caption_item {
                display: flex;
                flex: 2;
                flex-direction: column;
                justify-content: space-between;
                background-color: antiquewhite;

                h2 {
                    text-align: center;
                    background-color: rgb(129, 123, 112);
                    font-size: 75%;
                }

                p {
                    padding: 1%;
                    font-size: 75%;
                }
            }
            
            .pix_item {
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: space-between;
                background-image: url(/images/textures/gribouillis.jpg);
                background-size: auto;
                
                div{
                    display: flex;
                    flex-direction: column;

                }
                img {
                    width: 100%;
                }

                figcaption {
                    background-color: rgb(129, 123, 112);
                    padding: 10%;
                    text-align: center;
                    font-size: smaller;
                }
            }
        }
    }

    footer{
        background-color: rgb(97, 91, 91);;
        text-transform: capitalize;
        font-size: 80% ;
        padding-left: 1%;
    }
}



@media (min-width: 768px) {

    main{
        width: 50%;
    }


    .main_nav{

        #nav-list {
          
            .nav-item:hover {

                font-size: 110%;
            }
        }  
    }  
}