*{
    margin: 0;
    padding:0;
    background-color: rgb(10, 9, 7);
    box-sizing: border-box;
    
}

body{
    margin-left: 50px;
    margin-right: 50px;
    min-height: 100vh;
/* 
    display: flex;
    flex-direction: column; */
}

/* HEADERS */

.titre {
    display:flex;
    flex-direction:column;
    text-align:center;
    background-color:#FAAB11 ;
    border-style:solid;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    align-content: center;
}

header {
    display: flex;
    flex-direction: column;

    flex: 5;
}

.navbar {
    background: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    border: 4px solid rgb(33, 33, 33);
}

.navigation {
    flex:1;
    text-align: center;
    background-color:#FAAB11 ;
    font-size: large;
    font-size:45px;
}
/* HEADERS */

/* MAIN */
main{
    display:flex;
    /* flex-direction:row; */
    /* flex: 85; */
    /* min-height: 0; */
}

.presentation {
    display: flex;
    align-items: stretch;
    background-color: blue;
}

.images-left-container,
.images-right-container {
    background-color: red;
    flex:1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.images-left-container img,
.images-right-container img {
    width:350px;
    height: 450px;
    object-fit: cover;
}

.texte {
    flex: auto;
    border: 10px solid #FAAB11;
    background-color: #FAAB11;
    height: 100%;
    font-size: 45px;
    color:rgb(10, 9, 7);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* MAIN */

p {
    color:white;
    font-size:45px;
    
}

/* FOOTER */
footer {
    flex: 10;
    margin: 30px;
    text-align: center;
    align-content: center;
    background-color: rgb(33, 33, 33);
}

.dons {
    background-color: rgb(33, 33, 33);
}
/* FOOTER */