*{
    margin: 0;
    padding:0;
    background-color: rgb(10, 9, 7);
}

.titre {
    display:flex;
    flex-direction:column;
    text-align:center;
    background-color:#FAAB11 ;
    border-style:solid;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 20px;
}
    
.navbar {
    background: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.navigation {
    flex:1;
    text-align: center;
    background-color:#FAAB11 ;
}




