*{
    margin: 0;
    padding:0;
    background-color: rgb(10, 9, 7);
    box-sizing: border-box;
}

.titre {
    display:flex;
    flex-direction:column;
    text-align:center;
    background-color:#FAAB11 ;
    border-style:solid;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 20px;
}
body{
    margin-left: 300px;
    margin-right: 300px;
}
.navbar {
    background: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.navigation {
    flex:1;
    text-align: center;
    background-color:#FAAB11 ;
    font-size: large;
}

.page {
    display:flex;
    flex-direction: row;
    width:1320px;
    height: 1px
}

p {
    color:white;
}

.texte {
    border:5px solid #FAAB11;
    height: 180px;
    width: 400px;
    margin-left: 250px;
}

.photo {
    width:200px;
    height: 450px;
;
}
img{
    width:350px;
    height: 450px;
}
footer{
    margin: 30px;
    text-align: center;
    font-size:large;
}

#intro{
    font-size: 25px;
}

#photoArdentes{
display:flex;
align-content: center;
}

#photoA{
    width: 350px;
    height: 450px;
    margin-left: 900px
}